.profile{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 40px;
    display: flex;
    align-items: center;
}

#container{
    max-width: 35%;
    /*box-shadow: 10px 10px 50px 30px whitesmoke;*/
}

#home_photo {
    display: block;
    width: 100%;
    height: auto;
    margin:0;
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0% 100%);
    border-radius: 10px;
}

.main-content {
    /*max-width: 800px;*/
    margin: 1vw;
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 20px lightgrey;
}

h1, h2, h3 {
    margin-top: 4vh;
    margin-bottom: 0;
    color: #3498db;
}

p {
    /*padding-top: 0;*/
    margin-top:5px;
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 1vw;
}