.container{
    /*margin: 1%;*/
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image-hor{
    margin: 5px;
    width:25%;
    height: 25%;
}

.image-ver {
    margin: 5px;
    width: 20%;
    height: 25%;
}