.container{
    margin: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.image-hor{
    width:25vw;
    height: 20vw;
}

.image-ver {
    width: 20vw;
    height: 25vw;
}