.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.container-hor, .container-ver{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-hor{
    display: flex;
    position: relative;
    margin: 5px;
    max-width:45vw;
}

.image-ver {
    position: relative;
    display: flex;
    margin: 5px;
    max-height: 45vh;
}

.image-hor:hover{
    transition-duration: 1s;
    filter: brightness(0.2);
}

.image-ver:hover{
    filter: brightness(0.2);
    transition-duration: 1s;
}
.text-overlay{
    position: absolute;
    display: none;
}

.image-ver:hover  + .text-overlay {
    display: block;
    color:lightgrey;
    transition-duration: 1s;
}

.image-hor:hover  + .text-overlay{
    display: block;
    color:lightgrey;
}
