.ringing-contents{
    display: flex;
    align-items: flex-start;
    margin: 1vh;
}

.main-content-ringing {
    background-color: #fff;
    border-radius: 20px;
    display: inline-block;
    margin: 1vh;
    padding: 1vh;
    box-shadow: 10px 10px 20px lightgrey;
}

.ringing-contents h1, h2, h3 {
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    color: #cfc288;
    display: inline-block;
    font-size: 1.3vw;
}

.main-content-ringing p {
    /*line-height: 1.6;*/
    font-size: 1vw;
}

.band-picture{
    max-width:35vw;
    width: 100%;
    border-radius: 15px;
    box-shadow: 10px 10px 20px lightgrey;
    margin: 1vh;
}