body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #bab0a6;
  text-align: center;
  text-decoration: underline;
  font-family: Bahnschrift sans-serif;
}

h2 {
  color: black;
  font-family: Bahnschrift sans-serif;
}

p {
  color: black;
  font-family: Bahnschrift sans-serif;
}

/* html {
  background-image: url("./assets/images/Background.webp");
  background-repeat: repeat;
} */